MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/hac
JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRE_MINUTES=10080

BREVO_API_KEY=xkeysib-...
BREVO_SENDER_EMAIL=no-reply@yourdomain.com
BREVO_SENDER_NAME=HAC Platform
